<link href="/modules/Admissions/admissions.css" type="text/css" rel="stylesheet" media="screen,projection">
<div id="Enquiry">
	<div id="slider-area-not-home" class="clearfix">
    	<div  class="segment clearfix banner-image" style="background-image:url(/images/banner.jpg); background-color:#2a9dd6;background-attachment:fixed;background-size: contain;">
			<div class="banner-not-main-content" style="height: 350px">
				<div class="PageText">ENQUIRY</div>
			</div>
		</div>
	</div>
	<div class="EnquiryForm">
		<div class="row">
        	<div class="col s12">
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="student_name" ng-model="en.studentName">
                            <label for="student_name">Student Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="DOB" ng-model="en.dob">
                            <label for="DOB">Date of birth</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="admissionClass" ng-model="en.admissionClass">
                            <label for="admissionClass">Class for which admission is sought</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="pastStudy" ng-model="en.pastStudy">
                            <label for="pastStudy">Class & Syllabus studied</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="oldSchool" ng-model="en.oldSchool">
                            <label for="oldSchool" >Name & Address of School</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="fathersName" ng-model="en.fathersName">
                            <label for="fathersName" >Father Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="fatherQualification"  ng-model="en.fatherQualification">
                            <label for="fatherQualification" >Father Qualification</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="fatherOccupation"  ng-model="en.fatherOccupation">
                            <label for="fatherOccupation" >Father Occupation</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="motherName"  ng-model="en.motherName">
                            <label for="motherName" >Mother Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="motherQualification"  ng-model="en.motherQualification">
                            <label for="motherQualification" >Mother Qualification</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="motherOccupation"  ng-model="en.motherOccupation">
                            <label for="motherOccupation" >Mother Occupation</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="mobileNumber"  ng-model="en.mobileNumber">
                            <label for="mobileNumber" >Mobile Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <div class="input-field">
                            <input type="text" id="landLine"  ng-model="en.landLine">
                            <label for="landLine" >Landline</label>
                        </div>
                    </div>
                </div>
                <div class="row submitRow">
	                <a class="waves-effect waves-light btn-raised btn submitbutton" ng-click="submitForm()">SUBMIT</a>
            	</div>
            </div>
        </div>
	</div>
</div>